@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap");
.container {
  margin: auto;
  width: 85vw;
}

.section {
  width: 100%;
  padding: 10px 15px;
}

.gradient_header {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
  padding: 5px 10px;
  color: #fff;
}
.gradient_header span {
  font-weight: 700;
}

.btn {
  padding: 8px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 18px;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

.b-pink {
  background-color: #f7c9f3;
  color: #110038 !important;
}

.divider {
  width: 100%;
  margin: 3rem 0 2rem 0;
  padding: 8px 15px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.suggestions_card {
  width: 23%;
}
.suggestions_card .flexer {
  display: flex;
  justify-content: space-between;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.suggestions_card .card_img {
  display: flex;
  align-items: flex-end;
  padding: 10px 15px;
  min-height: 220px;
  width: 100%;
  background-size: cover;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.suggestions_card .card_img button {
  background-color: #4180f6;
  color: #fff;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
}

.trends_card {
  width: 23%;
  margin-bottom: 2rem;
}
.trends_card .trends_card__img {
  display: flex;
  align-items: flex-end;
  min-height: 260px;
  width: 100%;
  background: url("../../assets/takamura.jpg") center no-repeat;
  background-size: cover;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.trends_card .trends_card__img .gradient_header {
  display: none;
  width: 100%;
  transition: all 0.4s ease;
}
.trends_card .trends_card__img:hover .gradient_header {
  display: block;
}

#results_text {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #110038;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch";
}

body {
  background-color: #fff4fd;
  color: #110038;
}

header {
  color: #fff;
  font-size: 12px;
}

.inner_container {
  padding: 10px 15px;
}

.branding {
  margin: 2rem 0 2rem 0;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.branding .branding_btns {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.branding .branding_btns .theme_btn {
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}
.branding .branding_btns .theme_btn:last-child {
  margin-top: 1rem;
}
.branding .branding_btns .branding_btn {
  background-color: #f7c9f3;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  border: 1px solid #110038;
}
.branding .branding_btns .branding_btn:last-child {
  margin-left: 2rem;
}
.branding .branding_btns .mis_gifos__btn {
  color: #110038;
  text-decoration: none;
}
.branding .branding_btns .mis_gifos__btn span {
  text-decoration: underline;
}

.search {
  padding: 10px 15px;
}
.search .gradient_header {
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.search .search_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  background-color: #e6e6e6;
}
.search .search_container .search_input {
  width: 90%;
}
.search .search_container .search_input input {
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  padding: 10px 15px;
  width: 100%;
  height: 40px;
  outline: none;
}
.search .search_container .search_btn button {
  display: flex;
  height: 40px;
  color: #b4b4b4;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}
.search .search_container .search_btn button img {
  margin-right: 0.5rem;
}
.search .search_container__after {
  padding: 20px 20px;
  display: none;
  flex-direction: column;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  background-color: #e6e6e6;
}
.search .search_container__after .after_btns {
  width: 90%;
}
.search .search_container__after .after_btns .after_btn {
  margin-top: 1rem;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  outline: none;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  line-height: 22px;
  transition: background-color 0.3s ease;
}
.search .search_container__after .after_btns .after_btn:hover {
  background-color: #b4b4b4;
  color: #fff;
}
.search .search_container__after .after_btns .after_btn:first-child {
  margin-top: 0;
}

.suggestions_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search_results {
  display: none;
}
.search_results .results_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.theme {
  position: relative;
}

.theme_dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 15px 15px;
  width: 79%;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.theme_dropdown .theme_btn {
  padding: 5px 5px;
}
.theme_dropdown .theme_btn:hover {
  background-color: #fff4fd !important;
  cursor: pointer;
}
.theme_dropdown .theme_btn:last-child {
  margin: 0;
}

.mis_gifos {
  display: none;
}
.mis_gifos .mis_guifos__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.mis_gifos .mis_guifos__container .trends_card {
  width: 100%;
  margin: 0;
}

.popup_container {
  width: 45vw;
  margin: 6rem auto 4rem auto;
  display: none;
}
.popup_container .gradient_header {
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.popup_container .popup_inner {
  padding: 25px 35px;
  background-color: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.popup_container .popup_inner__title {
  display: flex;
}
.popup_container .popup_inner__title .title_img {
  margin-right: 16px;
  height: 100%;
}
.popup_container .popup_inner__description {
  padding-left: 46px;
}
.popup_container .popup_inner__list {
  padding: 0 0 15px 46px;
}
.popup_container .popup_inner__list ul {
  list-style: none;
}
.popup_container .popup_inner__list ul li {
  margin-top: 0.5rem;
}
.popup_container .popup_inner__list ul li:first-child {
  margin-top: 1rem;
}
.popup_container .popup_inner__list ul li:last-child {
  margin-top: 1rem;
}
.popup_container .popup_inner__btns {
  display: flex;
  justify-content: flex-end;
}
.popup_container .popup_inner__btns .btn {
  background-color: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
.popup_container .popup_inner__btns .btn:hover {
  background-color: #fff4fd;
}
.popup_container .popup_inner__btns .btn:first-child {
  margin-right: 1rem;
}

.capture_container {
  padding-top: 4rem;
}
.capture_container .capture_inner__container {
  width: 60%;
  margin: auto;
  background-color: #e6e6e6;
  padding: 0 0 10px 0;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.capture_container .capture_inner__container .gradient_header {
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: flex;
  justify-content: space-between;
}
.capture_container .capture_inner__container .preview_container {
  width: 97%;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 15px auto;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  border: 1px solid #110038;
}
.capture_container .capture_inner__container .preview_container img {
  width: 100%;
  padding: 2px;
  max-height: 40vh;
}
.capture_container .capture_inner__container .capture_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
}
.capture_container .capture_inner__container .capture_footer .capture_timer {
  visibility: visible;
  background-color: #fff;
  padding: 8px 15px;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}
.capture_container .capture_inner__container .capture_footer .capture_btns {
  display: flex;
  justify-content: flex-end;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .start_btns {
  display: flex;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .stop_btns {
  display: flex;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .confirm_btns {
  display: flex;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .confirm_btns .btn {
  padding: 10px 20px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  transition: background-color 0.3s ease;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .confirm_btns .btn:hover {
  background-color: #fff4fd;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .confirm_btns .btn:last-child {
  margin-left: 1.5rem;
  padding: 8px 20px;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .btn {
  border: 1px solid #110038;
  display: flex;
  align-items: center;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .btn:last-child {
  padding: 10px 35px;
  font-weight: 500;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .btn_start {
  background-color: #f7c9f3;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  color: #110038;
}
.capture_container .capture_inner__container .capture_footer .capture_btns .btn_stop {
  background-color: #ff6161;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
