//  Light Theme vars

//? colors
$main: #110038;
$grey: #e6e6e6;
$grey_light: #fff4fd;
$pale_pink: #f7c9f3;
$baby_blue: #4180f6;

//? gradients and shadows
$gradient_light: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
$shadow_outer: 0 1px 0 0 #110038;
$shadow_inner__pink: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
$shadow_inner__btn: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
$shadow_inner__light: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
$shadow_inner__dividers: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
$shadow_inner__input: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
$border: 1px solid #110038;
