@import "_variables.scss";
@import "globals.scss";
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch";
  //   background: rgba(0, 0, 0, 0.2);
}

body {
  background-color: $grey_light;
  color: $main;
}

header {
  color: #fff;
  font-size: 12px;
}

.inner_container {
  padding: 10px 15px;
}

.branding {
  margin: 2rem 0 2rem 0;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;

  .branding_btns {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .theme_btn {
    //   display: flex;
    //   align-items: center;
    //   position: relative;

    //   span {
    //     margin-left: .5rem;
    //   }
    // }

    .theme_btn {
      background: #f0f0f0;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
      &:last-child {
        margin-top: 1rem;
      }
    }

    .branding_btn {
      background-color: $pale_pink;
      box-shadow: $shadow_inner__pink;
      border: $border;

      &:last-child {
        margin-left: 2rem;
      }
    }

    .mis_gifos__btn {
      color: $main;
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }
}

.search {
  padding: 10px 15px;
  .gradient_header {
    box-shadow: $shadow_inner__light;
  }
  .search_container {
    padding: 20px 20px;
    box-shadow: $shadow_inner__light;
    background-color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search_input {
      width: 90%;
      input {
        border: 1px solid #979797;
        box-shadow: $shadow_inner__input;
        padding: 10px 15px;
        width: 100%;
        height: 40px;
        outline: none;
      }
    }

    .search_btn {
      button {
        display: flex;
        height: 40px;
        color: #b4b4b4;
        border: 1px solid #808080;
        box-shadow: $shadow_inner__btn;

        img {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .search_container__after {
    padding: 20px 20px;
    display: none;
    flex-direction: column;
    box-shadow: $shadow_inner__light;
    background-color: $grey;

    .after_btns {
      width: 90%;

      .after_btn {
        margin-top: 1rem;
        padding: 10px 15px;
        width: 100%;
        text-align: left;
        outline: none;
        border: 1px solid #808080;
        box-shadow: $shadow_inner__btn;
        line-height: 22px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #b4b4b4;
          color: #fff;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.suggestions_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search_results {
  display: none;

  .results_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.theme {
  position: relative;
}

.theme_dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 15px 15px;
  width: 79%;
  background-color: $grey;
  box-shadow: $shadow_inner__light;

  .theme_btn {
    padding: 5px 5px;
    &:hover {
      background-color: #fff4fd !important;
      cursor: pointer;
    }

    &:last-child {
      margin: 0;
    }
  }
}
.mis_gifos {
  display: none;

  .mis_guifos__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    .trends_card {
      width: 100%;
      margin: 0;
    }
  }
}
.popup_container {
  width: 45vw;
  margin: 6rem auto 4rem auto;
  display: none;
  .gradient_header {
    box-shadow: $shadow_inner__light;
  }
  .popup_inner {
    padding: 25px 35px;
    background-color: $grey;
    box-shadow: $shadow_inner__light;

    &__title {
      display: flex;

      .title_img {
        margin-right: 16px;
        height: 100%;
      }
    }

    &__description {
      padding-left: 46px;
    }

    &__list {
      padding: 0 0 15px 46px;

      ul {
        list-style: none;
        li {
          margin-top: 0.5rem;

          &:first-child {
            margin-top: 1rem;
          }

          &:last-child {
            margin-top: 1rem;
          }
        }
      }
    }

    &__btns {
      display: flex;
      justify-content: flex-end;

      .btn {
        background-color: $pale_pink;
        border: $border;
        box-shadow: $shadow_inner__pink;
        &:hover {
          background-color: #fff4fd;
        }
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }
}

.capture_container {

  padding-top: 4rem;

.capture_inner__container {
  width: 60%;
  margin: auto;
  // height: 40vh;
  background-color: $grey;
  padding: 0 0 10px 0;
  box-shadow: $shadow_inner__light;

  .gradient_header {
    box-shadow: $shadow_inner__light;
    display: flex;
    justify-content: space-between;

  }

  .preview_container {
    width: 97%;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin: auto;
    margin: 15px auto;
    box-shadow: $shadow_inner__input;
    border: $border;
    // background-image: url('../../assets/takamura.jpg');
    // background-position: center;
    // background-size: cover;

    img {
      width: 100%;
      padding:2px;
      max-height: 40vh;
      // border: $border;
    }
  }
  .capture_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;

  .capture_timer {
    visibility: hidden;
    background-color: #fff;
    padding: 8px 15px;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  }
    
  .capture_btns {
    display: flex;
    justify-content: flex-end;

    .btn {
      background-color: $pale_pink;
      box-shadow: $shadow_inner__pink;
      border: $border;
      display: flex;
      align-items: center;

      &:last-child {
        padding: 10px 30px;
        color: $main;
        font-weight: 500;
      }
    }
  }
}
}
}